<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Hartye" />
    <meta name="description" content="Site de testes" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Glory:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="/style/pages.css" />
  </head>

  <body onload="DOM.loadDate()">
    <%- include("./parts/header") %>

    <main>
      <div class="page-initial-image">
        <img src="<%= page.img %> " alt="Game Image" />
      </div>
      <div class="page-content">
        <span class="description">
          <h4><%= page.description %></h4>
        </span>
        <h2 class="anchor" id="content">Content</h2>
        <span>
          <p><%= page.content %></p>
        </span>
      </div>
    </main>

    <footer><%- include("./parts/footer.ejs") %></footer>

    <script src="/script/script.js"></script>
  </body>
</html>
